node_modules
npm-debug.log
.git
.gitignore
README.md
.env
playwright
playwright-ct.config.ts
playwright.config.ts
playwright-report
test-results
.idea
.tanstack
e2e
/src/services/TracksFake.ts
/src/services/Tracks.spec.ts
/src/services/GenresHttp.spec.ts
.storybook
src/stories
